$avatar-backgroundOne: #FD1999
$avatar-backgroundTwo: #1AC8ED
$avatar-main: #2F323A
$avatar-accent: #33658A

$control-default: #efefef
$control-active: #1AC8ED
$toggle-height: 2rem
$toggle-width: $toggle-height*2
$switch-transition: all .3s ease-in-out

$switch-shadow: inset -.1rem -.1rem .3rem rgba(0,0,0,0.3), inset .1rem -.1rem .3rem rgba(250,250,250,0.3), inset -.1rem .1rem .3rem rgba(250,250,250,0.3), inset .1rem .1rem .3rem rgba(255,255,255,0.5), .1rem .1rem .3rem rgba(0,0,0,0.3)

// $raised-shadow-light: 7px 7px 9px rgba(0,0,0,0.5), 7px -7px 9px rgba(250,250,250,0.5), -7px 7px 9px rgba(250,250,250,0.5), -7px -7px 9px rgba(255,255,255,0.9)
// $inset-shadow-light: inset -7px -7px 9px rgba(255,255,255,0.9), inset -7px 7px 7px rgba(150,150,150,0.5), inset 7px -7px 7px rgba(150,150,150,0.5), inset 7px 7px 9px rgba(0,0,0,0.5)
// $raised-shadow-dark: 7px 7px 9px rgba(0,0,0,0.3), 7px -7px 9px rgba(50,50,50,0.15), -7px 7px 9px rgba(50,50,50,0.15), -7px -7px 9px rgba(100,100,100,0.3)
// $inset-shadow-dark: inset -7px -7px 9px rgba(100,100,100,0.3), inset -7px 7px 7px rgba(50,50,50,0.15), inset 7px -7px 7px rgba(50,50,50,0.15), inset 7px 7px 9px rgba(0,0,0,0.3)

$raised-shadow-light: .3rem .3rem .5rem rgba(0,0,0,0.5), .3rem -.3rem .5rem rgba(250,250,250,0.5), -.3rem .3rem .5rem rgba(250,250,250,0.5), -.3rem -.3rem .5rem rgba(255,255,255,0.7)
$inset-shadow-light: inset -.3rem -.3rem .5rem rgba(255,255,255,0.7), inset -.3rem .3rem .3rem rgba(150,150,150,0.5), inset .3rem -.3rem .3rem rgba(150,150,150,0.5), inset .3rem .3rem .5rem rgba(0,0,0,0.5)
$raised-shadow-dark: .3rem .3rem .5rem rgba(0,0,0,0.3), .3rem -.3rem .5rem rgba(50,50,50,0.15), -.3rem .3rem .5rem rgba(50,50,50,0.15), -.3rem -.3rem .5rem rgba(100,100,100,0.3)
$inset-shadow-dark: inset -.3rem -.3rem .5rem rgba(100,100,100,0.3), inset -.3rem .3rem .3rem rgba(50,50,50,0.15), inset .3rem -.3rem .3rem rgba(50,50,50,0.15), inset .3rem .3rem .5rem rgba(0,0,0,0.3)